.weather-display {
	display: flex;
	background-color: #eee;
	margin: 10px 0px;
	border-radius: 8px;
	width: 380px;
	align-items: center;
}

#history {
	display: flex;
	margin: 10px 0px;
	gap: 50px;
}

.city {
	font-size: 20px;
	font-weight: bold;
}

.temp {
	font-size: 25px;
	color: #E96E50;
}

.content {
	display: flex;
	flex-direction: column;
}
